
<p>
  <a routerLink="/products/new" class="btn btn-primary">Nouveau produit</a>
</p>
<p>
  <input 
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Recherche...">
</p>

<data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)">
  <data-table-column
    [property]="'title'"  
    [header]="'Titre'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>
  
  <data-table-column
    [property]="'price'"  
    [header]="'Prix'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      {{ item.price +' FCFA ' }}
    </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'$key'"  
  >
    <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['/products', item.$key]">Modifier</a>
    </ng-template>
  </data-table-column>

</data-table>

